<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
</head>
<body>
    <form id="textForm">
        <input type="text" id="textInput" placeholder="Type something...">
        <button type="button" onclick="sendText()">Send</button>
    </form>
    <div style="padding: 5px;">
        Messages will apear bellow:
    </div>
    
    <ul id="messageList"></ul>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>